.container {
    border: solid 1px blue;
    padding: 5px;
    margin-top: 10px;
    width: 460px;
}

.title-button {
    border: solid 1px black;
    padding: 10px;
    width: 432px;
}

.child {
    margin-left: 50px;
}

.fired {
    float: right;
    margin-top: 30px;
    color: #e25822;
    width: 20px;
}

.not-fired {
    float: right;
    margin-top: 30px;
    color: lightgray;
    width: 20px;
}
