.container {
    border: solid 2px blue;
    padding: 5px;
    margin-top: 10px;
    width: 450px;
}

.title-button {
    border: solid 1px black;
    padding: 10px;
    width: 428px;
}

.child {
    margin-left: 50px;
}
