.container {
    border: solid 2px purple;
    padding: 10px;
    width: 360px;
}

.title-button {
    border: solid 1px black;
    padding: 10px;
    width: 340px;
}

.child {
    margin-left: 50px;
}